.control-icon svg:hover {
  transform: scale(1.2);
}

.pre-scrollable {
  background-color: #636f83;
  color: #fff;
}

textarea {
  min-height: 180px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c4b64;
  border-radius: 10px;
}