{% extends "layouts.html" %}

{% block content %}


    <div class="card shadow my-4">
        <div class="card-body">
            <a class="btn btn-primary" href="{% url 'panel:m_packages' %}">M сборки</a>
            <a class="btn btn-primary" href="{% url 'panel:sr_packages' %}">SR сборки</a>
        </div>
    </div>

    <div class="card shadow my-4">
        <div class="card-header py-3">
            <h1 class="p-0 font-weight-bold text-primary">Сервера</h1>
        </div>
        <div class="card-body">

            <div class="table-responsive">

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" role="grid">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending"
                                >IP адрес
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending"
                                >название
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="server in servers">
                                <td><b><a v-bind:href="'/server/' + server.id + '/'" v-text="server.ip"></a></b>
                                </td>
                                <td><b><a v-bind:href="'/server/' + server.id + '/'" v-text="server.name"></a></b>
                                </td>
                                <td style="width:1%">
                                    <a @click="notImplemented()" href="#" class="btn btn-success"><span
                                            class="icon text-black-50"><i
                                            class="fas fa-pause-circle"></i></span></a>
                                </td>
                                <td style="width:1%">
                                    <a @click="notImplemented()" href="#" class="btn btn-warning"><span
                                            class="icon text-black-50"><i
                                            class="fas fa-sync-alt"></i></span></a>
                                </td>
                                <td style="width:1%">
                                    <a v-bind:href="'/server/' + server.id + '/delete/'" class="btn btn-danger"><span
                                            class="icon text-black-50"><i
                                            class="fas fa-trash-alt"></i></span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card shadow my-4">  <div class="card-header py-3">
            <h2 class="p-0 font-weight-bold text-primary">Добавить сервер</h2>
        </div>
        <div class="card-body">

            <form action="{% url 'panel:server.add' %}" method="post">
                {% csrf_token %}

                <table>
                    {{ form }}
                </table>

                <div class="row">

                    <div class="form-group col-sm-6">
                        <label>
                            Название
                            <input v-model="form['name']" type="text" value="Server ###"
                                   class="form-control form-control-sm">
                        </label>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>
                            IP адрес
                            <input v-model="form['ip']" type="text" name="ip" class="form-control form-control-sm">
                        </label>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>
                            Рут пользователь
                            <input v-model="form['user_root']" type="text" name="user_root"
                                   class="form-control form-control-sm">
                        </label>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>
                            Рут пароль
                            <input v-model="form['password_root']" type="text" placeholder="" name="password_root"
                                   class="form-control form-control-sm">
                        </label>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>
                            Рабочий пользователь
                            <input v-model="form['user_single']" type="text" name="user_single"
                                   class="form-control form-control-sm">
                        </label>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="form-check">
                            <input id="ssh_key" class="form-check-input" type="checkbox" value=""
                                   v-model="form['ssh_key']" true-value="true" false-value="false">
                            <label for="ssh_key">SSH ключ</label>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>
                            Сборка Master
                            <select v-model="form.m_package" id="installation" class="form-control">
                                <option v-for="package in m_packages" v-text="package.name + ' ' + package.created_at"
                                    v-bind:value="package.id"></option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>
                            Сборка SR
                            <select v-model="form.sr_package" id="installation" class="form-control">
                                <option v-for="package in sr_packages" v-text="package.name + ' ' + package.created_at"
                                    v-bind:value="package.id"></option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group col-sm-6">
                        <button @click.prevent="createServer()" type="button" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                  <i class="fas fa-check"></i>
                                </span>
                            <span class="text">Добавить и запустить</span>
                        </button>
                    </div>
                </div>


            </form>

        </div>
    </div>

{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static "panel/js/main.js" %}"></script>
{% endblock %}